<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
				<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- <property name="hibernate.connection.url">jdbc:mysql://192.168.56.103:3306/sti_datawarehouse</property>
		<property name="hibernate.connection.username">etl_alpha</property>

		<property name="hibernate.connection.password">K4hVDudjrC</property> -->


		<property name="connection.url">jdbc:postgresql://ec2-54-217-250-0.eu-west-1.compute.amazonaws.com/d4k9qeoalkt3pv</property> <!-- BD Mane -->
   		<property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
   		<property name="connection.username">abbkmobvvjrzue</property> <!-- DB User -->
   		<property name="connection.password">6d4c3daba060cefa759dd6e53e6ae460cd8477a613534ef12c7114d603b4b0ff</property> <!-- DB Password -->


		<!-- JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- SQL dialect -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect
		</property> -->
		   		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->


		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="com/example/neeraj/model/Employee.hbm.xml" />

	</session-factory>

</hibernate-configuration>